<body id='regBody' ng-contoller="resetpasswordCtrl">
    <div class='row'>
        <br/>
        <div class='col-lg-4'></div>
        <div class='col-lg-4'>
            <form id='resetpasswordForm' name='resetpasswordForm' novalidate>
                <label  class="resetHeading"><b>Reset Password Form</b></label></br>
                <div class="form-group">
                    <label for="newPassword">Enter the New Password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Password" ng-model="newPassword" ng-minlength="8" ng-maxlength="20" required>
                    <span style="color:red" ng-show="resetpasswordForm.newPassword.$dirty && resetpasswordForm.newPassword.$invalid">
                        <span style="color:Red" ng-show="resetpasswordForm.newPassword.$error.required">Password is required.</span>
                        <span style="color:Red" ng-show="resetpasswordForm.newPassword.$error.minlength"> Minimum 8 Characters Required </span>
                        <span style="color:Red" ng-show="resetpasswordForm.newPassword.$error.maxlength"> Maximum 20 Characters Allowed </span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="confirmedPassword">Confirmed Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="confirm Password" ng-model="confirmPassword" ng-keyup="compare()" required>
                    
                    <span style="color:red" ng-show="resetpasswordForm.confirmPassword.$dirty && resetpasswordForm.confirmPassword.$invalid">
                        <span style="color:Red" ng-show="resetpasswordForm.confirmPassword.$error.required">Password is required.</span>
                    </span>    
                    <span style="color:Red" ng-show="IsMatch">Passwords are not correct or don't match</span>
                    
                     
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" id="btnsubmit" ng-click="resetPassword()" ng-disabled="resetpasswordForm.$invalid || IsMatch">Submit</button>
                </div>
                <div class="form-group">
                      <b><p class='p'>don't have account? <a ui-sref='registration' href='registration.html' style='text-decoration-style: solid'> Sign up here </a></p></b><br/>
                </div>
                </form>

        </div>
    </div>
</body>
